body {
    background: white;
}

.container {
    width:100%;
    position:relative;
    top: 75px;
    left: 100px;
}
img {
    position: absolute;
}
#lampon {
    z-index: 1;
    transition: z-index 2s;
}
#lampoff {
    z-index: 10;
}
input[value="off"]:checked ~ #lampoff {
    z-index: 0;
 }
input[value="on"]:checked ~ #lampon {
    z-index:10
 }


.container {
    position: relative;
    height: 281px;
    width: 450px;
    margin: 0 auto;
}

#lampon, #lampoff {
    position:absolute;
    left:0;
    /*    -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;*/
}

@keyframes fadeInOut {
    0% {
        opacity:2;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#lampon {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196f3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translate(26px);
}